setuptools==59.5.0
numpy==1.26.4
openai-whisper
pyannote.audio
soundfile>=0.10.2
speechbrain==0.5.16
python-dotenv==1.0.1
fastapi==0.110.1
torch
uvicorn==0.29.0
pydantic==2.7.1
numba==0.59.1
python-multipart==0.0.9
